@model UrlShortener.Web.Models.LinksInformationViewModel

@{
    ViewData["Title"] = "DeleteUrl";
}
<div class="container-fluid">

    <div class="col-md-4 offset-md-4">
        <div class="form-container" style="display: inline-block">
            <form class="form-horizontal" method="post" asp-controller="Home" asp-action="DeleteUrl"
                  asp-route-id="@Model.Id">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <h1 class="title_attention" >AreYouSureYouWantToDelete:</h1>
                    <span class="icon icon-link"></span>
                    <label asp-for="Url">Url:</label>
                    <info>@Model.Url</info>
                </div>
                <div class="form-group">
                    <span class="icon icon-link"></span>
                    <label asp-for=ShortUrl>ShortUrl:</label>
                    <info>@Model.ShortUrl</info>
                </div>
                <div class="form-group">
                    <span class="icon icon-calendar"></span>
                    <label asp-for="CreationDate">CreationDate</label>
                    <info>@Model.CreationDate</info>
                </div>
                <div class="form-group">
                    <label asp-for="QuantityClick">QuantityClick</label>
                    <info>@Model.QuantityClick</info>
                </div>

                <button value="Yes" type="submit" class="btn">Delete</button>
                <div>
                    <button class="btn" asp-action="Home" asp-controller="DeleteUrl">MainPage</button>
                </div>

                @*<div class="form-group">
                    <input type="hidden" asp-for="Id" name="Id" class="form-control" />
                </div>*@
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
